<div class="page login_page">
    <div class="form__container">

        <form class="form form_login">
            <h1 class="form__title">Вход</h1>

            <div class="form__inputs">
                {{> Input label="Логин" name="login"}}
                {{> Input label="Пароль" type="password" name='password'}}
            </div>

            <div class="form__buttons">
                {{> Button type="primary" label="Авторизоваться"}}
                {{> Button type="link" label="Нет аккаунта?"}}
            </div>
        </form>
    </div>
</div>
