<div class="page editProfilePage">
    <div class="editProfilePage__userInfo">
        {{> BackButton }}

        {{> PImage class="editProfilePage__PImage" }}
        <h2>Иван</h2>
        {{> PField label="Почта" type="text" value="pochta@yandex.ru" name="email" }}
        {{> PField label="Логин" type="text" value="ivanivanov" name="login" }}
        {{> PField label="Имя" type="text" value="Иван" name="first_name" }}
        {{> PField label="Фамилия" type="text" value="Иванов" name="second_name" }}
        {{> PField label="Имя в чате" type="text" value="Иван" name="display_name" }}
        {{> PField label="Телефон" type="text" value="+7(909)9673030" name="phone" }}
    </div>
    <div class="editProfilePage__buttons">
        <div class="editProfilePage__buttonField">
            {{> Button type="primary" label="Сохранить" }}
        </div>
    </div>
</div>
{{#if popup}}{{> Popup }}{{/if}}
