<div class="chatList">
    {{#each chatItem}}
        {{> ChatListItem name=this.name }}
    {{/each}}

    {{!-- {{> ChatListItem active="active" name="dada"}}
    {{> ChatListItem }}
    {{> ChatListItem }}
    {{> ChatListItem }}
    {{> ChatListItem }}
    {{> ChatListItem }}
    {{> ChatListItem }}
    {{> ChatListItem }}
    {{> ChatListItem }} --}}
</div>