.editProfilePage {
    position: relative;
    flex-flow: column nowrap;
    padding: 60px 30px;

    &__userInfo {
        width: 100%;
        margin-bottom: 60px;
        text-align: center;
    }

    &__PImage {
        margin-bottom: 21px;
    }

    &__title {
        margin-bottom: 60px;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
    }

    &__Button {
        text-align: left;
    }

    &__exitButton {
        a {
            color: #FF0000;
        }
    }

    &__buttonField {
        display: flex;
        width: 280px;
        padding: 0;
    }
}
