.profilePage {
    position: relative;
    flex-flow: column nowrap;
    padding: 60px 30px;

    &__backButton {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        top: 0;
        width: 64px;
        height: 100%;
        background: #fbfbfb;
        border-right: #eaeaea 1px solid;

        &:hover {
            cursor: pointer;
            background: #eeeeee;
            z-index: 10;

            span {
                background: #3310ff;
            }
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            width: 28px;
            height: 28px;
            color: #fff;
            background: #3369F3;
            border-radius: 50%;
        }
    }

    &__userInfo {
        width: 100%;
        margin-bottom: 60px;
        text-align: center;
    }

    &__PImage {
        margin-bottom: 21px;
    }

    h2 {
        margin-bottom: 60px;
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
    }

    &__fields {
        margin-bottom: 40px;
    }

    &__Button {
        text-align: left;
    }

    &__exitButton {
        a {
            color: #FF0000;
        }
    }

    &__buttonField {
        display: flex;
        justify-content: start;
        padding: 0;
    }

    &__saveButtonField {
        display: flex;
        width: 280px;
        padding: 0;
    }
}
