<div class="page chatListPage">
    <div class="chatListPage__sideBar">
        <div class="chatListPage__profileButton">
            {{> Button type="link" class="profileButton" label="Профиль >" }}
        </div>
        <div class="chatListPage__search">
            {{> Search }}
        </div>
        <div class="chatListPage__chatList">
            {{> ChatList }}
        </div>
    </div>
    <div class="chatListPage__messageArea">
        <p class="infoMessage">Выберите чат, чтобы отправить сообщение</p>
    </div>
</div>
