<div class="popup">
    <form class="popup__form">
        <h3 class="popup__form_title">Загрузите файл{{title}}</h3>
        <div class="popup__form_inner">
            <label><input type="file" name="" id=""></label>
        </div>
        <div class="popup__form_button">
            {{> Button type="primary" label="Поменять"}}
        </div>
        <p class="popup__form_errorMessage">{{errorMessage}}</p>
    </form>
</div>