<div class="errorComp">
    <h1 class="errorComp__errNo">{{errNo}}</h1>
    <h2 class="errorComp__message">{{message}}</h2>
    <div class="errorComp__returnButton">{{>Button type="link" label="Назад к чатам"}}</div>
</div>
