<div class="pField">
    <span class="pField__label">{{label}}</span>
    <label class="pField__label">
        <input class="pField__input" type={{type}} {{#if disabled}}disabled{{/if}} value={{value}}>  
    </label>
</div>