<nav class="page navPage">
    <a page="login">Логин</a>
    <a page="registration">Регистрация</a>
    <a page="chatlist">Список чатов</a>
    <a page="editpassword">Редактировать пароль</a>
    <a page="edit">Редактировать профиль</a>
    <a page="edit_popup">Редактировать профиль (popup)</a>
    <a page="profile">Профиль</a>
    <a page="404">404</a>
    <a page="500">500</a>
</nav>
