<nav class="page navPage">
    <ul class="navList">
        <li class="navList__item"><a page="login">Логин</a></li>
        <li class="navList__item"><a page="registration">Регистрация</a></li>
        <li class="navList__item"><a page="chatlist">Список чатов</a></li>
        <li class="navList__item"><a page="editpassword">Редактировать пароль</a></li>
        <li class="navList__item"><a page="edit">Редактировать профиль</a></li>
        <li class="navList__item"><a page="edit_popup">Редактировать профиль (popup)</a></li>
        <li class="navList__item"><a page="profile">Профиль</a></li>
        <li class="navList__item"><a page="404">404</a></li>
        <li class="navList__item"><a page="500">500</a></li>
    </ul>
</nav>
